.main-wrapper{
  background-color: cornflowerblue;
  height: 100vh;
  position: relative;
}
.titolo{
  position: absolute;
  left: 0;
}

.grid-container{
  background-color: brown;
  width: 740px;
  aspect-ratio: 1;
}
.grid-container button{
  width: 100%;
}

.square{
  width: 70px;
  height: 70px;
  background-color: brown;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-grow: 0;
  cursor: pointer;
}
.clicked{
  background-color: lightskyblue;
}